<div class="container">

    
    <div class="row">
        
        <div class="col-md-6">
            <form [formGroup]="productForm" class="form">
                <h4 class=" text-primary">Id</h4>
                <input type="number" class="form-control" placeholder="Enter Product Id" formControlName= "Id">
                <h4 class=" text-primary">Name</h4>
                <input type="text" class="form-control" placeholder="Enter Product Name" formControlName= "Name">
                <h4 class=" text-primary">Short Code</h4>
                <input type="text" class="form-control" placeholder="Enter Product Short code" formControlName= "ShortCode">
                <h4 class=" text-primary">Manufacturer</h4>
                <input type="text" class="form-control" placeholder="Enter Product Manufacturer" formControlName= "Manufacturer">
                <h4 class=" text-primary">Price</h4>
                <input type="number" class="form-control" placeholder="Enter Product Price" formControlName= "SellingPrice">
                <h4 class=" text-primary">Categories</h4>
                <input type="text" class="form-control" placeholder="Enter Product categories(if more than 1, separate by comma)" formControlName= "Categories">
                <h4 class=" text-primary">Description</h4>
                <input type="text" class="form-control" placeholder="Enter Product Description" formControlName= "Description">
                <br/>
                <div class="row">
                    <div class="col-md-4">
                <button type="submit" [disabled] = 'productForm.invalid' class="btn btn-success" (click) = "onsave()" >Save</button>
                </div>
                <div class="col-md-4">
                <button type="reset" class="btn btn-secondary" (click) = "onreset()">Reset</button>
                </div>
                 <div class="col-md-4">
                    <button  class="btn btn-danger" (click) = "ondelete()">Delete</button>
                    <br/>
                    <input class="form-control" placeholder="enter id to delete" formControlName= "deleteid"/> 
                    </div>
                </div>
                
            </form>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-4">
                  <input class="form-control  " type="number" [(ngModel)]= "searchById" placeholder="Search by Id"/>
                  
                </div>
                <div class="col-md-4">
          
                </div>
                <div class="col-md-4">
                  
                  <input  class="form-control " type= "text" [(ngModel)]= "searchByShortCode" placeholder="Search by ShortCode"/>
                </div>
            </div>
          <br/>
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Short Code</th>
                        <th>Manufacturer</th>
                        <th>Price</th>
                        <th>Categories</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor = "let p of product | searchbyid: searchById |searchbyshortcode: searchByShortCode">
                        <td>{{p.Id}}</td>
                        <td>{{p.Name}}</td>
                        <td>{{p.ShortCode}}</td>
                        <td>{{p.Manufacturer}}</td>
                        <td>{{p.Price}}</td>
                        <td>{{p.Categories}}</td>
                        <td>{{p.Description}}</td>

                    </tr>
                    
                </tbody>
            </table>
        </div>
        
    </div>
</div>
