<div class="container">
    <div class="row">
        
        <div class="col-md-6">
            <form [formGroup]="categoryForm" class="form">
                <h4 class=" text-warning">Id</h4>
                <input type="number" class="form-control" placeholder="Enter Category Id" formControlName= "Id">
                <h4 class=" text-warning">Name</h4>
                <input type="text" class="form-control" placeholder="Enter category Name" formControlName= "Name">
                <h4 class=" text-warning">Short Code</h4>
                <input type="text" class="form-control" placeholder="Enter Category Short code" formControlName= "ShortCode">
                
                <h4 class=" text-warning">Description</h4>
                <input type="text" class="form-control" placeholder="Enter Category Description" formControlName= "Description">
                <br/>
                <div class="row">
                    <div class="col-md-4">
                <button type="submit" [disabled] = 'categoryForm.invalid' class="btn btn-success" (click) = "onsave()" >save</button>
                </div>
                <div class="col-md-4">
                <button type="reset" class="btn btn-secondary" (click) = "onreset()">reset</button>
                </div>
                <div class="col-md-4">
                    <button  class="btn btn-danger" (click) = "ondelete()">Delete</button>
                    <br/>
                    <input class="form-control" placeholder="enter id to delete" formControlName= "deleteid"/> 
                    </div>
                </div>
                
            </form>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-4">
                  <input class="form-control  " type="number" [(ngModel)]= "searchById" placeholder="Search by Id"/>
                  
                </div>
                <div class="col-md-4">
          
                </div>
                <div class="col-md-4">
                  
                  <input  class="form-control " type= "text" [(ngModel)]= "searchByShortCode" placeholder="Search by ShortCode"/>
                </div>
            </div>
          <br/>
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Short Code</th>
                        
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor = "let c of category| searchbycategoryid: searchById| searchbycategoryshortcode: searchByShortCode">
                        <td>{{c.Id}}</td>
                        <td>{{c.Name}}</td>
                        <td>{{c.ShortCode}}</td>
                        
                        <td>{{c.Description}}</td>

                    </tr>
                    
                </tbody>
            </table>
        </div>
        
    </div>
</div>
